# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
# Set 4 space indentation for Python files
[*.{py,pyx}]
indent_style = space
indent_size = 4

# 2 space indentation for JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files, can be different
[*.md]
trim_trailing_whitespace = false
